# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Data
/data/*
!/data/*.py

# Checkpoints
checkpoints

# Weights
number_recognition/model.pt
plate_detection/best.pt
yolov5m6.pt

venv/*
runs/*
.idea/*
yolov5/*
